@import '~bootstrap/dist/css/bootstrap.min.css';

.add-task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.add-task__input {
    width: 70%;
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 5px;

    font-size: inherit;
}

.add-task__input:focus {
    box-shadow: 0 0 2px 2px aqua;
}

.add-task__button {
    width: 20%;
    font-weight: bold;
    border: 2px solid lightblue;
    border-radius: 5px;
}

.add-task__button:hover {
    color: white;
    background-color: #dddddd;
}
